.DeliveredTasks {
    background-color: #fff;
    border-radius: 12px;
    padding: 25px 25px;
}

.DeliveredTasks h4 {
    margin-bottom: 20px;
}

.DeliveredTasks__headerWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    background:  rgba(245, 245, 250, 0.4);
    color: #8181A5;
    margin-bottom: 20px;
}

.DeliveredTasks__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
}

.DeliveredTasks__wrapper:hover {
    background: linear-gradient(0deg, rgba(94, 129, 244, 0.1), rgba(94, 129, 244, 0.1)), #FFFFFF;
}

.DeliveredTasks__title {
    font-weight: 700;
    color: #1C1D21;
}

.DeliveredTasks__status {
    font-weight: 700;
    border-radius: 8px;
    padding: 10px 15px;
    color: #1C1D21;
}

.DeliveredTasks__status_inprogress {
    color: #F4BE5E;
    background: linear-gradient(0deg, rgba(244, 190, 94, 0.1), rgba(244, 190, 94, 0.1)), #FFFFFF;
}

.DeliveredTasks__status_agreement {
    color: #2CE5F6;
    background: linear-gradient(0deg, rgba(64, 225, 250, 0.1), rgba(64, 225, 250, 0.1)), #FFFFFF;
}

.DeliveredTasks__status_inqueue {
    color: #8181A5;
    background: #F5F5FA;
}

/*.DeliveredTasks__status_inpqueue {*/
/*    color: #8181A5;*/
/*    background: #F5F5FA;*/
/*}*/

.DeliveredTasks__priority {
    color: #1C1D21;
    border-radius: 8px;
    border: 1px solid black;
    padding: 15px 20px;
}

.DeliveredTasks__priority_high {
    border-color: #FF808B;
}

.DeliveredTasks__priority_medium {
    border-color: #F4BE5E;
}

.DeliveredTasks__titleWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.DeliveredTasks__button {
    min-width: 147px;
    min-height: 40px;
    margin-right: 21px;
    color: #fff;
    background: linear-gradient(0deg, #5E81F4, #5E81F4), #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    padding: 13px 16px;
    text-transform: uppercase;
}

.DeliveredTasks__button:hover {
    background:  linear-gradient(0deg, rgba(94, 129, 244, 0.1), rgba(94, 129, 244, 0.1)), #FFFFFF;
    color: #5E81F4;
}