.StaffPage {
    width: 100%;
    background-color: #F5F5FA;
    padding: 28px;
    padding-top: 25px;
}

.StaffPage__wrapper {
    background-color: #fff;
    border-radius: 12px;
    padding: 7px 25px;
}

.StaffPage h2 {
    font-size: 20px;
    margin-left: 84px;
    margin-bottom: 27px;
}

.StaffPage button {
    min-width: 147px;
    min-height: 40px;
    margin-right: 21px;
    color: #fff;
    background: linear-gradient(0deg, #5E81F4, #5E81F4), #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    padding: 13px 16px;
    text-transform: uppercase;
}

.StaffPage button:hover {
    background:  linear-gradient(0deg, rgba(94, 129, 244, 0.1), rgba(94, 129, 244, 0.1)), #FFFFFF;
    color: #5E81F4;
}