.LeftMenu {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 242px;
    background-color: #fff;
    padding: 15px 0;
}

.Logo img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 21px;
}



.LeftMenu__menu {

}